body,html {
  background: #F9F9F9;
}
#nav{
  height: 100vh;
  background: #E9E8EE;
  padding: 5vh 20px;
  box-sizing: border-box;
  position: fixed;
  width: 20%;
  ul {
    padding: -0px;
    margin: 0;
    list-style: none;
    li {
      line-height: 2em;
      transition: all 0.6s;
      border-radius: 5px;
      &:hover {
        background: #fff;
      }
      .router-link-active{
        background: #fff;
      }
      a {
        padding-left: 10px;
        display: block;
        color: #000;
        text-decoration: none;
        font-size: 15px;
      }
    }
  }
}
#main {
  height: 100vh;
  background: transparent;
  padding: 5vh 70px 100px 70px;

}

.card-title{
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  border-left: 5px  solid #a6d6d6;
  padding-left: 10px;
  margin-bottom: 2em;
}
.el-card {
  margin-bottom: 2em;
}

@media (max-width: 768px) {
  #nav {
    position: relative;
    display: none;
    width: 100%;
  }
  #main {
    padding: 20px 5%;
  }
}
